/* Add Your Styles Here */
body{
    font-family: Arial, sans-serif;
    margin: 0;
}

/* ------------------- Main Header ----------------- */
.main-header{
    background-image: url("../images/technology.JPG");
    padding: 15px;
    background-size: cover;
    color: white;
    text-align: right;
}

/* ----------------- Main Nav bar  --------------------- */
.main-nav{
    background-color: black;
    padding: 5px;
    box-shadow: 0 0 15px black;
}
.main-nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    display: inline-block;
}
.main-nav a:hover{
    background-color: #7c856a;
}
.main-nav a.active{
    background-color: #62c25c;
}

/* ---------------- Home News Section ----------------- */
.home-news-section{
    margin-left: 150px;
}
.home-news-article{
    border: 2px solid black;
    width: 330px;
    height: 500px;
    float: left;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
    transition: all 0.5s;
}
.home-news-article:hover{
    width: 340px;
    box-shadow: 0 0 15px black;
}
.home-news-article img{
    width: 100%;
}
.home-news-div{
    padding: 10px;
}

/* =------------------- Break --------------- */
.break{
    clear: both;
}

/* -------------------- Main News Section --------------- */
.main-news-section{
    width: 1100px;
    margin: auto;
}
.main-news-article h2{
    background: linear-gradient(to right , forestgreen, black , forestgreen);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 0 15px black;
}
.main-news-article p{
    font-size: 18px;
    text-align: center;
}
.zoom{
    width: 600px;
    height: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    overflow: hidden;
}
.zoom img{
    width: inherit;
    height: inherit;
    border-radius: 10px;
    transition: all 0.5s;
}
.zoom:hover img{
    transform: scale(1.2,1.2);
}

/* ---------------- Main Footer -------------------- */
.main-footer{
    background: linear-gradient(to right , #7c856a , black , #7c856a);
    padding: 15px;
    text-align: center;
    color: white;
    box-shadow: 0 0 15px black;
}
.main-footer a{
    color: orange;
}


/* --------------- Gallery Section --------------- */
.gallery-section{
    text-align: center;
}
.gallery-article{
    border: 2px solid black;
    width: 300px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
.gallery-article:hover{
    box-shadow: 0 0 15px black;
    transition: all 1s;
}
.gallery-zoom{
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}
.gallery-zoom img{
    width: inherit;
    height: inherit;
    border-radius: 10px;
    transition: all 1s;
}
.gallery-zoom:hover img{
    transform: scale(1.2,1.2);
}

/* ------------- About Us Section -------------- */
.about-section{
    width: 1100px;
    margin: auto;
}
.about-article{
    background: white url("../images/image5.jpeg") no-repeat scroll bottom;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}
.company-images{
    text-align: center;
}
.company-images img{
    width: 250px;
    height: 150px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}

/* ---------------- Contact Section ------------------ */
.contact-section{
    background: white url("../images/image5.jpeg") no-repeat fixed bottom;
    padding: 20px;
}
.contact-article{
    width: 250px;
    text-align: center;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    padding-top: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}
.contact-article h2{
    color: white;
}
.input{
    text-align: center;
    font-size: 18px;
    border: none;
    outline: none;
    height: 35px;
    background: transparent;
    color: white;
    border-bottom: 3px solid #7c856a;
    width: 200px;
}
.input:focus{
    border-bottom: 3px solid #62c25c;
}
::placeholder{
    color: lightgray;
}
textarea{
    background: transparent;
    border: 3px solid #7c856a;
    border-radius: 10px;
    margin:10px;
    width: 200px;
    outline: none;
}
textarea:focus{
    border: 3px solid #62c25c;
}
.contact-button{
    background-color: #7c856a;
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px 55px;
    border-radius: 50px;
    margin: 10px 0 15px 0;
}
.contact-button:hover{
    background-color: #62c25c;
    box-shadow: 0 0 15px white;
}

