/* Your custom styles */
.carousel .carousel-indicators li {
    max-width: 30px;
    height: 10px;
    border-radius: 0%;
    cursor: pointer;
}

.text-teal {
    color: #00796b;
}

#top-button{
    margin-top: -110px;
}

/* Text Area */

.basic-textarea textarea {
    height: auto;
}
.rounded-corners textarea {
    border-radius: 0.25rem;
}

.rounded-corners textarea:focus{
    border: 2px solid #4687f4;
}

/* Trainers Card Image */
#card-image{
    margin-top: -80px;
}

#trainer-card:hover{
    background-color: #00796b;
    cursor: pointer;
}

#trainer-card:hover h4{
    color: white;
}

#trainer-card:hover p{
    color: white;
}


#trainer-card:hover #facebook{
 color: white;
}

#trainer-card:hover #github{
    color: white;
}

#trainer-card:hover #twitter{
    color: white;
}